.content-wrapper {
    margin: 210px auto;
    width: 400px;
    padding: 10px;
}
input[type=text], input[type=password] {
    margin: 5px auto;
    width: 100%;
    padding: 10px;
}
input[type=submit] {
    margin: 5px auto;
    float: right;
    padding: 5px;
    width: 90px;
    border: 1px solid #fff;
    color: #fff;
    background: red;
    cursor: pointer;
}